<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head') %>
    <link rel="stylesheet" href="/css/partner.css">
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="/js/main.js"></script>
    <script>
        particlesJS.load('particles-js', '/particles/particles.json', function () {
            console.log('callback - particles.js config loaded');
        });
    </script>
</head>

<body>
    <%- include ('./partials/header') %>
    <div id="particles-js">
        <div class="container-fluid carousel slide">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <div class="slider-content">
                        <h2 data-animation="animated bounceInLeft" class="">VIFA PARTNER PROGRAM
                        </h2>
                        <h3 data-animation="animated bounceInLeft" class="">Give your customers the advantages of
                            accepting blockchain payments and growing their online business with DizPay while earning
                            extra revenue for your business.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section team-area cryp-otcarea bg-img">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="section-heading2 wow fadeInUp  animated" data-wow-duration="1.0s"
                        style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
                        <h3>Join the DizPay Global Partner Program</h3>
                    </div>
                </div>
            </div>
            <div class="row mt20">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="dizpay_itme wow fadeInUp   animated" data-wow-duration="1.6s"
                        style="visibility: visible; animation-duration: 1.6s; animation-name: fadeInUp;">
                        <div class="box-with-icon text-center">
                            <div class="bwi-inner">
                                <div class="bwi-icon">
                                    <i class="fa fa-file-text-o"></i>
                                </div>
                                <h3 class="bwi-title">Submit an application</h3>
                                <p class="bwi-text">Tell us more about your business so we can match you to the
                                    right resources and benefits. There is no fee to join our Global Partner
                                    Program.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="dizpay_itme wow fadeInUp   animated" data-wow-duration="1.6s"
                        style="visibility: visible; animation-duration: 1.6s; animation-name: fadeInUp;">
                        <div class="box-with-icon text-center">
                            <div class="bwi-inner">
                                <div class="bwi-icon">
                                    <i class="fa fa-check-circle"></i>
                                </div>
                                <h3 class="bwi-title">Get certified</h3>
                                <p class="bwi-text">We'll provide you with resources and support to meet our
                                    certification requirements.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="dizpay_itme wow fadeInUp   animated" data-wow-duration="1.6s"
                        style="visibility: visible; animation-duration: 1.6s; animation-name: fadeInUp;">
                        <div class="box-with-icon text-center">
                            <div class="bwi-inner">
                                <div class="bwi-icon">
                                    <i class="fa fa-external-link-square"></i>
                                </div>
                                <h3 class="bwi-title">Get started</h3>
                                <p class="bwi-text">Get access to exclusive marketing benefits designed to help you
                                    grow your merchant business.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="sud sudnew">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" viewBox="0 0 1920 181.1" style="enable-background:new 0 0 1920 181.1;" xml:space="preserve">
            <style type="text/css">
                .st5 {
                    fill-rule: evenodd;
                    clip-rule: evenodd;
                    fill: #1a1c35;
                }
            </style>
            <g>
                <path class="st5" d="M0,80c0,0,28.9-4.2,43-13c14.3-9,71-35.7,137,5c17.3,7.7,33.3,13,48,11c17.3,0.3,50.3,4.7,66,23
                    c20.3,9.7,68,40.3,134-12c24-11,59-16.3,104,2c21,7.3,85,27.7,117-14c24-30.7,62.7-55,141-12c26,10.3,72,14.7,110-14
                    c37.7-19,89.7-29,122,53c23,32.7,47.7,66.3,97,26c24-22.7,51-78.3,137-38c0,0,28.3,15.7,52,15c23.7-0.7,50.7,4.3,76,41
                    c19.7,19.7,71,36.7,121-2c0,0,22.3-16,55-12c0,0,32.7,6.7,56-71c23.3-76,79-92,122-29c9.3,13.7,25,42,62,43c37,1,51.7,25.3,67,48
                    c15.3,22.7,51,22.7,53,23v28.1H0V80z"></path>
            </g>
        </svg>
    </div>

    <section class="coin-area section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="section-heading2 nobottom wow fadeInUp  animated" data-wow-duration="1.0s"
                        style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
                        <h3>Who can be a Partner? Practically Anyone!</h3>
                        <div class="partner_box clearfix pr">
                            <div class="partner_left">
                                <p class="partner_tit">Business partners</p>
                                <ul class="partner_leftbtn">
                                    <li>Sales Organizations</li>
                                    <li>Payment Agencies</li>
                                    <li>Financial Institution</li>
                                    <li>Consulting Services</li>
                                    <li>Social Media Freelancers</li>
                                    <li>Blockchain Influencers</li>
                                </ul>
                            </div>
                            <div class="partner_right">
                                <p class="partner_tit partner_top">BRING DIZPAY TO YOUR CUSTOMERS</p>
                                <p class="mt30">We offer our partner networks best-in-breed payment technology,
                                    exceptional client services, and generous commissions.</p>
                                <p>Partner with us, monetize your network, and creating a new revenue stream for your
                                    business with very little effort.</p>
                            </div>
                            <div class="partner_icon1"></div>
                            <div class="partner_icon2"></div>
                        </div>
                        <div class="partner_boxitem clearfix pr">
                            <div class="partner_itemleft clearfix">
                                <p class="partner_tit partner_top">ADD PAYMENTS TO YOUR PLATFORM</p>
                                <p class="mt30">Partnering with DizPay is the fastest way to let businesses or
                                    individuals who use your platform accept payments. Whether you build software for
                                    retailers, accountants, or eCommerce, partnering with DizPay helps you create new
                                    revenue streams and scale internationally</p>
                            </div>
                            <div class="partner_itemright">
                                <p class="partner_tit">Technical partners</p>
                                <ul class="partner_leftbtn">
                                    <li>Developers</li>
                                    <li>Software Company</li>
                                    <li>Internet Platform</li>
                                </ul>
                            </div>
                            <div class="partner_icon3"></div>
                            <div class="partner_icon4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="sud ">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" viewBox="0 0 1920 181.1" style="enable-background:new 0 0 1920 181.1;" xml:space="preserve">
            <style type="text/css">
                .st1 {
                    fill-rule: evenodd;
                    clip-rule: evenodd;
                    fill: #2c2e53;
                }
            </style>
            <g>
                <path class="st1" d="M0,80c0,0,28.9-4.2,43-13c14.3-9,71-35.7,137,5c17.3,7.7,33.3,13,48,11c17.3,0.3,50.3,4.7,66,23
                     c20.3,9.7,68,40.3,134-12c24-11,59-16.3,104,2c21,7.3,85,27.7,117-14c24-30.7,62.7-55,141-12c26,10.3,72,14.7,110-14
                     c37.7-19,89.7-29,122,53c23,32.7,47.7,66.3,97,26c24-22.7,51-78.3,137-38c0,0,28.3,15.7,52,15c23.7-0.7,50.7,4.3,76,41
                     c19.7,19.7,71,36.7,121-2c0,0,22.3-16,55-12c0,0,32.7,6.7,56-71c23.3-76,79-92,122-29c9.3,13.7,25,42,62,43c37,1,51.7,25.3,67,48
                     c15.3,22.7,51,22.7,53,23v28.1H0V80z"></path>
            </g>
        </svg>
    </div>

    <section class="features-area projects section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="section-heading2 wow fadeInUp  animated" data-wow-duration="1.0s"
                        style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
                        <h3>Join the DizPay Partner Program</h3>
                        <p class="mt30">Whether you’re adding payments to your platform or developing a new plugin,<br>
                            we’re excited to see what you’ll build with DizPay.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include ('./partials/footer') %>
</body>

</html>