<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head') %>
    <link rel="stylesheet" href="/css/privacy.css">
    <script src="/js/main.js"></script>
</head>

<body>
    <%- include ('./partials/header') %>
    <section class="section blog-area platform-area otc-area bg-img">
        <div class="container">
            <div class="row tokens-area">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <div class="section-heading">
                        <h2 class="wow fadeInUp animated" data-wow-duration="1.0s">DizPay Terms of Service</h2>
                        <h4 class="wow fadeInUp animated" data-wow-duration="1.2s">Last Updated: February 7,
                            2018</h4>
                        <p class="otc_smalltit text-left wow fadeInUp animated" data-wow-duration="1.4s">DizPay is a
                            service that simplifies the acceptance of cryptocurrencies as payment for goods and
                            services provided by DizPay (referred to as “DizPay” or “we” or “us” or “our” in this
                            document) has developed these Terms of Service (these “Terms”) to describe the terms
                            that govern your use of DizPay’s service, DizPay developer documents and our website
                            located at https://www.dizpay.com/en/ (the “Site”) (collectively the “Services”).</p>
                        <br>
                        <h3 class="wow fadeInUp animated" data-wow-duration="1.6s">Agreement to Terms</h3>
                        <p class="otc_smalltit text-left wow fadeInUp animated" data-wow-duration="1.8s">Please
                            refer to our Privacy Policy for information on how we collect, use and disclose
                            information from our customers. You acknowledge and agree that your use of the Services
                            is subject to our Privacy Policy.</p>
                        <br>
                        <h3 class="wow fadeInUp animated" data-wow-duration="1.6s">Changes to Terms or Services</h3>
                        <p class="otc_smalltit text-left wow fadeInUp animated" data-wow-duration="1.8s">We may
                            modify the Terms at any time, in our sole discretion. If we do so, we’ll let you know
                            either by posting the modified Terms on the Site, by providing you a notice in an manner
                            we deem reasonable including notifications within the product’s dashboard, and through
                            other communications. It’s important that you review the Terms whenever we modify them
                            because if you continue to use the Services after we have modified the Terms, you are
                            indicating to us that you agree to be bound by the modified Terms. If you don’t agree to
                            be bound by the modified Terms, you must stop using the Services. We may change or
                            discontinue all or any part of the Services, at any time and without notice, at our sole
                            discretion.</p>
                        <br>
                        <h3 class="wow fadeInUp animated" data-wow-duration="1.6s">Who May Use the Services</h3>
                        <p class="otc_smalltit text-left wow fadeInUp animated" data-wow-duration="1.8s"><span
                                class="roadmap_circle">·</span>　Eligibility</p>
                        <p class="otc_smalltit text-left wow fadeInUp animated" data-wow-duration="1.8s">You may use
                            the Services if you are 18 years or older and are not barred from using the Services
                            under applicable law.</p>
                        <p class="otc_smalltit text-left wow fadeInUp animated" data-wow-duration="1.8s"><span
                                class="roadmap_circle">·</span>　Registration and Your Information</p>
                        <p class="otc_smalltit text-left wow fadeInUp animated" data-wow-duration="1.8s">If you want
                            to use the Services you’ll have to create an account (“Account”) on our website. To open
                            an account, you must provide a valid email address, create a password and access to a
                            two-factor authenticator app.</p>
                        <p class="otc_smalltit text-left wow fadeInUp animated" data-wow-duration="1.8s">You agree
                            that you won’t disclose your Account credentials to anyone and you’ll notify us
                            immediately of any unauthorized use of your Account. You’re responsible for all
                            activities that occur under your Account, whether or not you know about them.</p>
                        <br>
                        <h3 class="wow fadeInUp animated" data-wow-duration="1.6s">Feedback</h3>
                        <p class="otc_smalltit text-left wow fadeInUp animated" data-wow-duration="1.8s">We welcome
                            feedback, comments and suggestions for improvements to the Services (“Feedback”). You
                            can submit Feedback by emailing us at info@dizpay.com. You grant us a non-exclusive,
                            worldwide, perpetual, irrevocable, fully-paid, royalty-free, sublicensable and
                            transferable license under any and all intellectual property rights that you own or
                            control to use, copy, modify, create derivative works based upon and otherwise exploit
                            the Feedback for any purpose.</p>
                        <br>
                        <h3 class="wow fadeInUp animated" data-wow-duration="1.6s">Content and Content Rights</h3>
                        <p class="otc_smalltit text-left wow fadeInUp animated" data-wow-duration="1.8s">For
                            purposes of these Terms: (i) “Content” means text, graphics, images, music, software,
                            audio, video, works of authorship of any kind, and information or other materials that
                            are posted, generated, provided or otherwise made available through the Services; and
                            (ii) “User Content” means any Content that Account holders (including you) provide to be
                            made available through the Services. Content includes without limitation User
                            Content.</p>
                        <br>
                        <h3 class="wow fadeInUp animated" data-wow-duration="1.6s">Content Ownership, Responsibility
                            and Removal</h3>
                        <p class="otc_smalltit text-left wow fadeInUp animated" data-wow-duration="1.8s">We do not
                            claim any ownership rights in any User Content and nothing in these Terms will be deemed
                            to restrict any rights that you may have to use and exploit your User Content.
                            Subject to the foregoing, DizPay and its licensors exclusively own all right, title and
                            interest in and to the Services and Content, including all associated intellectual
                            property rights. You acknowledge that the Services and Content are protected by
                            copyright, trademark, and other laws of Singapore and foreign countries. You agree not
                            to remove, alter or obscure any copyright, trademark, service mark or other proprietary
                            rights notices incorporated in or accompanying the Services or Content.
                        </p>
                        <p class="otc_smalltit text-left wow fadeInUp animated" data-wow-duration="1.8s"><span
                                class="roadmap_circle">·</span>　Rights in
                            User Content Granted by You
                        </p>
                        <p class="otc_smalltit text-left wow fadeInUp animated" data-wow-duration="1.8s">In order to
                            operate and provide our Services, you grant us a worldwide, non-exclusive, royalty-free,
                            sublicensable, and transferable license to use, copy, distribute, create derivative
                            works of, display, and perform the User Content that you upload, submit, store, send, or
                            receive on or through our Services. The rights you grant in this license are for the
                            limited purpose of operating and providing our Services. Additional information about
                            your privacy and how we use User Content is available in the Privacy Policy.
                        </p>
                        <p class="otc_smalltit text-left wow fadeInUp animated" data-wow-duration="1.8s">You can
                            remove your User Content by specifically deleting it. However, in certain instances,
                            some of your User Content may not be completely removed and copies of your User Content
                            may continue to exist on the Services. We are not responsible or liable for the removal
                            or deletion of (or the failure to remove or delete) any of your User Content.
                        </p>
                        <p class="otc_smalltit text-left wow fadeInUp animated" data-wow-duration="1.8s"><span
                                class="roadmap_circle">·</span>　Rights in
                            Content Granted by DizPay
                        </p>
                        <p class="otc_smalltit text-left wow fadeInUp animated" data-wow-duration="1.8s">Subject to
                            your compliance with these Terms, we grant you a limited, non-exclusive,
                            non-transferable, non-sublicensable license to download, view, copy, display and print
                            the Content solely in connection with your permitted use of the Services.
                        </p>
                        <br>
                        <h3 class="wow fadeInUp animated" data-wow-duration="1.6s">Acceptable Use and DizPay’s
                            Enforcement Rights</h3>
                        <p class="otc_smalltit text-left wow fadeInUp animated" data-wow-duration="1.8s">You agree
                            not to use the Services in ways that:
                        </p>
                        <p class="otc_smalltit text-left wow fadeInUp animated" data-wow-duration="1.8s"><span
                                class="roadmap_circle">·</span>　Violate, misappropriate, or infringe the rights of
                            DizPay, our users, or others, including privacy, publicity, intellectual property, or
                            other proprietary rights;
                        </p>
                        <p class="otc_smalltit text-left wow fadeInUp animated" data-wow-duration="1.8s"><span
                                class="roadmap_circle">·</span>　Are illegal, obscene, defamatory, threatening,
                            intimidating, harassing, hateful, racially, or ethnically offensive, or instigate or
                            encourage conduct that would be illegal, or otherwise inappropriate, including promoting
                            violent crimes;
                        </p>
                        <p class="otc_smalltit text-left wow fadeInUp animated" data-wow-duration="1.8s"><span
                                class="roadmap_circle">·</span>　Involve publishing falsehoods, misrepresentations,
                            or misleading statements, including impersonating someone; or
                        </p>
                        <p class="otc_smalltit text-left wow fadeInUp animated" data-wow-duration="1.8s"><span
                                class="roadmap_circle">·</span>　Involve sending illegal or impermissible
                            communications such as bulk messaging, auto-messaging, auto-dialing, and the like;
                        </p>
                        <p class="otc_smalltit text-left wow fadeInUp animated" data-wow-duration="1.8s"><span
                                class="roadmap_circle">·</span>　Avoid, bypass, remove, deactivate, impair,
                            descramble or otherwise circumvent any technological measure implemented by us or any of
                            our service providers or any other third party (including another user) to protect the
                            Services or Content;
                        </p>
                        <p class="otc_smalltit text-left wow fadeInUp animated" data-wow-duration="1.8s"><span
                                class="roadmap_circle">·</span>　Disguise your location through IP proxying or other
                            methods;
                        </p>
                        <p class="otc_smalltit text-left wow fadeInUp animated" data-wow-duration="1.8s"><span
                                class="roadmap_circle">·</span>　Interfere with, or attempt to interfere with, the
                            access of any user, host or network, including, without limitation, sending a virus,
                            overloading, flooding, spamming, or mail-bombing the Services;
                        </p>
                        <p class="otc_smalltit text-left wow fadeInUp animated" data-wow-duration="1.8s"><span
                                class="roadmap_circle">·</span>　Violate any applicable law or regulation; or
                        </p>
                        <p class="otc_smalltit text-left wow fadeInUp animated" data-wow-duration="1.8s"><span
                                class="roadmap_circle">·</span>　Encourage or enable any other individual to do any
                            of the foregoing.
                        </p>
                        <br>
                        <h3 class="wow fadeInUp animated" data-wow-duration="1.6s">Termination</h3>
                        <p class="otc_smalltit text-left wow fadeInUp animated" data-wow-duration="1.8s">We may
                            terminate your access to and use of the Services, at our sole discretion, at any time
                            and without notice to you. You may cancel your Account at any time by following the
                            account closure instructions in the dashboard. Upon any termination, discontinuation or
                            cancellation of Services or your Account, the following provisions will survive: Content
                            and Content Rights, Content Ownership, Responsibility and Removal, Termination, Warranty
                            Disclaimers, Indemnity, Limitation of Liability, Dispute Resolution, and General Terms.
                        </p>
                        <br>
                        <h3 class="wow fadeInUp animated" data-wow-duration="1.6s">Warranty Disclaimers</h3>
                        <p class="otc_smalltit text-left wow fadeInUp animated" data-wow-duration="1.8s">YOU
                            EXPRESSLY ACKNOWLEDGE AND AGREE THAT USE OF THE SERVICES AND CONTENT IS AT YOUR SOLE
                            RISK AND THAT THE ENTIRE RISK AS TO SATISFACTORY QUALITY, PERFORMANCE, ACCURACY AND
                            EFFORT IS WITH YOU. THE API IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS WITHOUT
                            ANY REPRESENTATION OR WARRANTY, WHETHER EXPRESS, IMPLIED OR STATUTORY. TO THE MAXIMUM
                            EXTENT PERMITTED BY APPLICABLE LAW, DIZPAY SPECIFICALLY DISCLAIMS ANY EXPRESS OR IMPLIED
                            WARRANTIES OF TITLE, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND/OR
                            NON-INFRINGEMENT. DIZPAY DOES NOT MAKE ANY REPRESENTATIONS OR WARRANTIES THAT ACCESS TO
                            THE SERVICES OR ANY OF THE MATERIALS CONTAINED THEREIN WILL BE CONTINUOUS,
                            UNINTERRUPTED, TIMELY, OR ERROR-FREE.
                        </p>
                        <br>
                        <h3 class="wow fadeInUp animated" data-wow-duration="1.6s">Indemnity</h3>
                        <p class="otc_smalltit text-left wow fadeInUp animated" data-wow-duration="1.8s">You will
                            indemnify and hold harmless DizPay and its officers, directors, employee and agents,
                            from and against any claims, disputes, demands, liabilities, damages, losses, and costs
                            and expenses, including, without limitation, reasonable legal and accounting fees
                            arising out of or in any way connected with (i) your access to or use of the Services or
                            Content, (ii) your User Content, (iii) Third Party Materials, or (iv) your violation of
                            these Terms.
                        </p>
                        <br>
                        <h3 class="wow fadeInUp animated" data-wow-duration="1.6s">Limitation of Liability</h3>
                        <p class="otc_smalltit text-left wow fadeInUp animated" data-wow-duration="1.8s">TO THE
                            EXTENT NOT PROHIBITED BY LAW, DIZPAY SHALL NOT BE LIABLE FOR DAMAGES OF ANY TYPE,
                            WHETHER DIRECT OR INDIRECT, ARISING OUT OF OR IN ANY WAY RELATED TO YOUR USE OR
                            INABILITY TO USE THE SERVICES, INCLUDING BUT NOT LIMITED TO DAMAGES ALLEGEDLY ARISING
                            FROM THE COMPROMISE OR LOSS OF YOUR LOGIN CREDENTIALS OR FUNDS, OR LOSS OF OR INABILITY
                            TO RESTORE ACCESS, OR FOR MISTAKES, OMISSIONS, INTERRUPTIONS, DELAYS, DEFECTS AND/OR
                            ERRORS IN THE TRANSMISSION OF TRANSACTIONS OR MESSAGES TO THE BITCOIN, ETHEREUM, OR
                            OTHER NETWORK, OR THE FAILURE OF ANY MESSAGE TO SEND OR BE RECEIVED BY THE INTENDED
                            RECIPIENT IN THE INTENDED FORM, OR FOR DIMINUTION OF VALUE OF BITCOIN, ETHER OR ANY
                            OTHER DIGITAL TOKEN OR DIGITAL ASSET ON THE PLATFORM. DIZPAY SHALL NOT BE LIABLE UNDER
                            ANY CIRCUMSTANCES FOR ANY LOST PROFITS OR ANY SPECIAL, INCIDENTAL, INDIRECT, INTANGIBLE,
                            OR CONSEQUENTIAL DAMAGES, WHETHER BASED IN CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY,
                            OR OTHERWISE, ARISING OUT OF OR IN CONNECTION WITH AUTHORIZED OR UNAUTHORIZED USE OF THE
                            SERVICES, EVEN IF AN AUTHORIZED REPRESENTATIVE OF DIZPAY HAS BEEN ADVISED OF OR KNEW OR
                            SHOULD HAVE KNOWN OF THE POSSIBILITY OF SUCH DAMAGES. DIZPAY SHALL NOT BE LIABLE UNDER
                            ANY CIRCUMSTANCES FOR DAMAGES ARISING OUT OF OR IN ANY WAY RELATED TO SOFTWARE,
                            PRODUCTS, SERVICES, AND/OR INFORMATION OFFERED OR PROVIDED BY THIRD-PARTIES AND ACCESSED
                            THROUGH THE APP.
                            SOME JURISDICTIONS DO NOT ALLOW THE LIMITATION OF LIABILITY FOR PERSONAL INJURY, OR OF
                            INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THIS LIMITATION MAY NOT APPLY TO YOU.
                        </p>
                        <br>
                        <h3 class="wow fadeInUp animated" data-wow-duration="1.6s">Dispute Resolution</h3>
                        <p class="otc_smalltit text-left wow fadeInUp animated" data-wow-duration="1.8s"><span
                                class="roadmap_circle">·</span>　Governing Law
                        </p>
                        <p class="otc_smalltit text-left wow fadeInUp animated" data-wow-duration="1.8s">These Terms
                            and any action related thereto will be governed by the laws of Singapore without regard
                            to its conflict of laws provisions.
                        </p>
                        <br>
                        <h3 class="wow fadeInUp animated" data-wow-duration="1.6s">General Terms</h3>
                        <p class="otc_smalltit text-left wow fadeInUp animated" data-wow-duration="1.8s">These Terms
                            constitute the entire and exclusive understanding and agreement between DizPay and you
                            regarding the Services and Content, and these Terms supersede and replace any and all
                            prior oral or written understandings or agreements between DizPay and you regarding the
                            Services and Content. If any provision of these Terms is held invalid or unenforceable,
                            that provision will be enforced to the maximum extent permissible and the other
                            provisions of these Terms will remain in full force and effect. You may not assign or
                            transfer these Terms, by operation of law or otherwise, without our prior written
                            consent. Any attempt by you to assign or transfer these Terms, without such consent,
                            will be null. We may freely assign or transfer these Terms without restriction. Subject
                            to the foregoing, these Terms will bind and inure to the benefit of the parties, their
                            successors and permitted assigns.
                        </p>
                        <p class="otc_smalltit text-left wow fadeInUp animated" data-wow-duration="1.8s">Any notices
                            or other communications provided by us under these Terms, including those regarding
                            modifications to these Terms, will be given by posting to the Services and/or through
                            other electronic communication.
                        </p>
                        <p class="otc_smalltit text-left wow fadeInUp animated" data-wow-duration="1.8s">Our failure
                            to enforce any right or provision of these Terms will not be considered a waiver of such
                            right or provision. The waiver of any such right or provision will be effective only if
                            in writing and signed by a duly authorized representative of DizPay. Except as expressly
                            set forth in these Terms, the exercise by either party of any of its remedies under
                            these Terms will be without prejudice to its other remedies under these Terms or
                            otherwise.
                        </p>
                        <br>
                        <h3 class="wow fadeInUp animated" data-wow-duration="1.6s">Contact Information</h3>
                        <p class="otc_smalltit text-left wow fadeInUp animated" data-wow-duration="1.8s">If you have
                            any questions about these Terms or the Services, please contact us at info@dizpay.com.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include ('./partials/footer') %>
</body>

</html>